.rond {
    width: 13px;
    height: 13px;
    background: #F2AA4CFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: -100px;
}

.rondd {
    width: 13px;
    height: 13px;
    background: #435E55FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: -100px;
}

.ppp {
    display: block;
    display: inline-block;
    margin-left: -4px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.colorb ul.timeline>li:before {
    border: 5px solid #F2AA4CFF;
    background-color: #101820FF;
}

.fodev {
    font-family: cursive;
    font-size: 30px;
    color: rgb(99, 124, 115);
}

.boric {
    background-color: #F2AA4CFF;
    width: 240px;
    border-radius: 50px;
}

.colorsec1 {
    background-color: #101820FF;
    border-left: 10px solid #F2AA4CFF;
}

.fontt {
    font-size: 50px;
    font-family: cursive;
    color: white;
    font-weight: bolder
}

.fontt strong {
    color: #F2AA4CFF;
}

.colorb {
    background-color: #101820FF;
    border-left: 10px solid #F2AA4CFF;
    border-top-right-radius: 200px 150px;
}

.fottime {
    font-family: cursive;
    font-size: 20px;
    color: #F2AA4CFF;
}

p {
    color: rgb(99, 124, 115);
    margin: 5px;
}

b {
    color: rgb(180, 165, 134);
}

.fonts2 ul.timeline>li:before {
    border: 5px solid #101820FF;
    background-color: #F2AA4CFF;
}

.font {
    font-size: 30px;
    color: #F2AA4CFF;
    font-family: cursive;
    background: #101820FF;
    width: 230px;
    height: 50px;
    border-radius: 20px;
    padding-left: 18px;
}

.font1 {
    font-size: 30px;
    color: #F2AA4CFF;
    font-family: cursive;
    background: #101820FF;
    width: 130px;
    height: 50px;
    border-radius: 20px;
}

.font2 {
    font-size: 30px;
    color: #F2AA4CFF;
    font-family: cursive;
    background: #101820FF;
    width: 180px;
    height: 50px;
    border-radius: 20px;
}

.fontsta {
    font-weight: bolder
}

.colicon {
    color: #F2AA4CFF;
    font-size: 25px;
}

.fonts2 {
    border-right: 5px solid #101820FF;
}

.img-thumbnail {
    border: 10px solid #F2AA4CFF;
}