.losange-90{
  width  : 0;
  height : 0;
  position : relative;
  top : -5px;
  border : 5px solid transparent;
  border-bottom-color : green;
}
.losange-90:after {
  width  : 0;
  height : 0;
  content : '';
  position : absolute;
  left : -5px;
  top  : 5px;
  border : 5px solid transparent;
  border-top-color : green; 
}
 .ppp{
 	display: block;
 	display: inline-block;
 	margin-left: -4px;
 }












ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}